<h3>Einkaufswagen</h3>



<div class="cart-item" *ngFor="let item of items; index as orderId">
  <p>{{ item.name }}</p>
  <p>{{ item.price | currency }}</p>
  <p class="klick" (click)="clearArticle(orderId)">[x]</p>  
</div>

<div *ngIf="items != 0">
  <div class="cart-item" style="font-weight:bold">
    <p>Preis Gesamt</p>
    <p>{{ totalprice | currency }}</p>
    <p>&nbsp;</p>  
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h4>Bitte zum Versenden eingeben</h4>
    <div class="form-group">
        <label>Vorname</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.firstName.errors }" />
        <div *ngIf="submitted &amp;&amp; registerForm.controls.firstName.errors" class="text-danger">
            <div *ngIf="registerForm.controls.firstName.errors.required">Bitte Vornamen eingeben</div>
        </div>
    </div>
    <div class="form-group">
        <label>Nachname</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.lastName.errors }" />
        <div *ngIf="submitted &amp;&amp; registerForm.controls.lastName.errors" class="text-danger">
            <div *ngIf="registerForm.controls.lastName.errors.required">Bitte Nachnamen eingeben</div>
            <div *ngIf="registerForm.controls.lastName.errors.minlength">Ist ihr Nachname wirklich so kurz? Bitte nocheinmal</div>
        </div>
    </div>

    <div class="form-group">
        <label>Straße und Hausnummer</label>
        <input type="text" formControlName="adress" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.adress.errors }" />
        <div *ngIf="submitted &amp;&amp; registerForm.controls.adress.errors" class="text-danger">
            <div *ngIf="registerForm.controls.adress.errors.required">Bitte Straße eingeben</div>
        </div>
    </div>

    <div class="form-group">
        <label>Straße und Hausnummer</label>
        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.city.errors }" />
        <div *ngIf="submitted &amp;&amp; registerForm.controls.city.errors" class="text-danger">
            <div *ngIf="registerForm.controls.city.errors.required">Bitte Straße eingeben</div>
        </div>
    </div>


    <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors }" />
        <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
            <div *ngIf="registerForm.controls.email.errors.required">bitte Email eingeben</div>
            <div *ngIf="registerForm.controls.email.errors.email">Das ist keine gültige Email Form</div>
        </div>
    </div>
   
    <div class="form-group">
        <button class="btn btn-primary">Bestellen</button>
    </div>
</form>

</div>

<div *ngIf="thx">
  <h4>Vielen Dank für Ihre Bestellung!<span>Sie erhalten eine Emailbestätigung in kürze</span></h4>    
</div>

<a [routerLink]="['/shipping']">Versandkosten</a>
<a [routerLink]="['/']">Zurück zu den Artikeln</a>
<a *ngIf="items != 0" type="button" (click)="clearList()">Bestellliste löschen</a>